<div class="main">
  <div class="random-trouble">
    <div class="trouble-content">
      <%= link_to "#" do %>
        <div class="trouble-container">
          <p>testesttesttesttestesttesttesttesffffffffffffffffffffffffffffffffffffffffffffffffffffffffte</p>
        </div>
        <div class="trouble-monster">
          <%= image_tag "watermark.jpg", class:"monster-image" %>  
        </div>
      <% end %>
    </div>
    <div class="trouble-content">
      <%= link_to "#" do %>
        <div class="trouble-container">
          <p>testesttesttesttestesttesttesttesffffffffffffffffffffffffffffffffffffffffffffffffffffffffte</p>
        </div>
        <div class="trouble-monster">
          <%= image_tag "watermark.jpg", class:"monster-image" %>  
        </div>
      <% end %>
    </div>
    <div class="trouble-content">
      <%= link_to "#" do %>
        <div class="trouble-container">
          <p>testesttesttesttestesttesttesttesffffffffffffffffffffffffffffffffffffffffffffffffffffffffte</p>
        </div>
        <div class="trouble-monster">
          <%= image_tag "watermark.jpg", class:"monster-image" %>  
        </div>
      <% end %>
    </div>
    <div class="trouble-content">
      <%= link_to "#" do %>
        <div class="trouble-container">
          <p>testesttesttesttestesttesttesttesffffffffffffffffffffffffffffffffffffffffffffffffffffffffte</p>
        </div>
        <div class="trouble-monster">
          <%= image_tag "watermark.jpg", class:"monster-image" %>  
        </div>
      <% end %>
    </div>
  </div>

  <div class="new-wrapper">
    <p>最近、就職活動をしているのですが、業界未経験からの転職では中々就職先が決まらない。。。</p>
  </div>
</div>