<div class="main">
  <div class="random-trouble">
    <div class="trouble-content">
      <%= link_to "#" do %>
        <div class="trouble-container">
          <p>testesttesttesttestesttesttesttesffffffffffffffffffffffffffffffffffffffffffffffffffffffffte</p>
        </div>
        <div class="trouble-monster">
          <%= image_tag "watermark.jpg", class:"monster-image" %>  
        </div>
      <% end %>
    </div>
    <div class="trouble-content">
      <%= link_to "#" do %>
        <div class="trouble-container">
          <p>testesttesttesttestesttesttesttesffffffffffffffffffffffffffffffffffffffffffffffffffffffffte</p>
        </div>
        <div class="trouble-monster">
          <%= image_tag "watermark.jpg", class:"monster-image" %>  
        </div>
      <% end %>
    </div>
    <div class="trouble-content">
      <%= link_to "#" do %>
        <div class="trouble-container">
          <p>testesttesttesttestesttesttesttesffffffffffffffffffffffffffffffffffffffffffffffffffffffffte</p>
        </div>
        <div class="trouble-monster">
          <%= image_tag "watermark.jpg", class:"monster-image" %>  
        </div>
      <% end %>
    </div>
    <div class="trouble-content">
      <%= link_to "#" do %>
        <div class="trouble-container">
          <p>testesttesttesttestesttesttesttesffffffffffffffffffffffffffffffffffffffffffffffffffffffffte</p>
        </div>
        <div class="trouble-monster">
          <%= image_tag "watermark.jpg", class:"monster-image" %>  
        </div>
      <% end %>
    </div>
  </div>

  <div class="new-wrapper">
   <div class="form-container">
          <div class="main-form">
            <div class="title">
              <p><label for="title">悩みを一言で言ってみて！</label></p>
              <textarea rows="2" name="title" id="title"></textarea>
            </div>
            <div class="reason">
              <p><label for="reason">なんで悩んでるの？</label></p>
              <textarea rows="3" name="reason" id="reason"></textarea>
            </div>
            <div class="reason">
              <p><label for="reason">なんで悩んでるの？</label></p>
              <textarea rows="3" name="reason" id="reason"></textarea>
            </div>
            <div class="period">
              <p><label for="period">何日くらい悩んでるの？</label></p>
              <input type="text" class="period_form" name="period" id="period">
            </div>            
          </div>
          <div class="submit-form">
            <p>悩みはこれであってる？</p>
            <input class="submit" type="submit" value="大丈夫！">
          </div>
    </div>
  </div>
</div>